<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring, Thymeleaf Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h2 th:text="${title}">Title</h2>
			<p>This example Java web service is running on Tomcat and was developed with Eclipse using Spring, Thymeleaf and Bootstrap.</p>		
			<span>
				<img src="../../images/spring.png" th:attr="src=@{images/spring.png}" style="width: 100px;vertical-align: middle;"/>
				<span style="font-size: 64px">+</span>
				<img src="../../images/thymeleaf.png" th:attr="src=@{images/thymeleaf.png}" style="width: 100px;vertical-align: middle;"/>
			</span>
		</div>
	</div>
</body>
</html>