@CHARSET "UTF-8";
body {
  padding-top: 40px;
  width: 100%;
}

.logo {
	padding:10px;
	border-left: 1px #CCCCCC dotted;
	float: right;
}
.container {
	width: 100%;
}
.theme-statoil > p > .btn {
  margin: 5px 0;
  width: 100%;
}

.theme-statoil .navbar .container {
  width: auto;
}

.left-container {
	width: 400px;
}
.right-container {
	max-width: 70%;
}
.content-box {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
.text-label {
	border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
	font-weight: bold;
	min-width: 100px;
	max-width: 100%;
}
.info-field {
	width: 650px;
	font-weight: normal;
}
.info-field-bold {
	width: 560px;
	font-weight: bold;
}

.menu-link {
	font-weight: bold;
	font-size: 100%;
}
.menu-item {
	padding-left: 20px;
	background-color: #FFFFFF;
	color: #449944;
	width: 100%;
}

.active-menu-item {
	background-color: #777777;
}
.active-menu-item a:link, .active-menu-item a:visited {
	color: #FFFFFF;
}

.save-button {
	width: 170px;
}
.form-label {
	width: 150px;
}
.form-input {
	width: 250px;	
}
.usage-input {
	width: 425px;
	height: 220px;
	font-weight: normal;
}
