@CHARSET "UTF-8";

@font-face {
	font-family: Equinor;
	src: url(../fonts/Equinor-Regular.woff2) format('woff2'),
		url(../fonts/Equinor-Regular.woff) format('woff'),
		url(../fonts/Equinor-Regular.ttf) format('truetype')
}

@font-face {
	font-family: Equinor;
	src: url(../fonts/Equinor-Italic.woff2) format('woff2'),
		url(../fonts/Equinor-Italic.woff) format('woff'),
		url(../fonts/Equinor-Italic.ttf) format('truetype');
	font-style: italic
}

@font-face {
	font-family: Equinor;
	src: url(../fonts/Equinor-Light.woff2) format('woff2'),
		url(../fonts/Equinor-Light.woff) format('woff'),
		url(../fonts/Equinor-Light.ttf) format('truetype');
	font-weight: 300
}

@font-face {
	font-family: Equinor;
	src: url(../fonts/Equinor-LightItalic.woff2) format('woff2'),
		url(../fonts/Equinor-LightItalic.woff) format('woff'),
		url(../fonts/Equinor-LightItalic.ttf) format('truetype');
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: Equinor;
	src: url(../fonts/Equinor-Medium.woff2) format('woff2'),
		url(../fonts/Equinor-Medium.woff) format('woff'),
		url(../fonts/Equinor-Medium.ttf) format('truetype');
	font-weight: 500
}

@font-face {
	font-family: Equinor;
	src: url(../fonts/Equinor-MediumItalic.woff2) format('woff2'),
		url(../fonts/Equinor-MediumItalic.woff) format('woff'),
		url(../fonts/Equinor-MediumItalic.ttf) format('truetype');
	font-weight: 500;
	font-style: italic
}

@font-face {
	font-family: Equinor;
	src: url(../fonts/Equinor-Bold.woff2) format('woff2'),
		url(../fonts/Equinor-Bold.woff) format('woff'),
		url(../fonts/Equinor-Bold.ttf) format('truetype');
	font-weight: 700
}

@font-face {
	font-family: Equinor;
	src: url(../fonts/Equinor-BoldItalic.woff2) format('woff2'),
		url(../fonts/Equinor-BoldItalic.woff) format('woff'),
		url(../fonts/Equinor-BoldItalic.ttf) format('truetype');
	font-weight: 700;
	font-style: italic
}

html {
	background: rgb(234, 244, 249);
}

body {
	padding-top: 70px;
	padding-bottom: 40px;
	width: 100%;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: Equinor, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: hidden;
	background-color: rgb(234, 244, 249);
	height: 100vh;
	min-height: 100vh;
}

.arrow {
	visibility: hidden;
}

hr {
	height: 2px;
	background: rgb(235, 52, 70);
}

.modal-body p {
	font-size: 14px;
}

.modal-header h3 {
	font-weight: 200;
	text-align: center;
}

.modal-body h3 {
	font-size: 15px;
	font-weight: bold;
}

.logo {
	padding: 10px;
	float: right;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	font-size: 10px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.no-margin {
	padding-left: 0px;
	margin-left: 0px;
}

.recursive {
	padding-left: 10px;
	margin-left: 0px;
}

.task-details h5 {
	font-weight: bold;
}

.panel-default {
	border-color: rgb(200, 200, 200);
}

/* The top navigation bar */
#navbar {
	background: rgb(234, 244, 249);
}

#navbar a {
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-variant-caps: normal;
	font-weight: normal;
}
#navbar a:hover {
	background-color: rgb(255,255,255);
}

/* Breadcrumb and toolbar */
.breadcrumb, #breadcrumb {
	background-color: rgb(255,255,255);	
}

/* Folder titles */
.panel-default>.panel-heading {
	background-color: rgb(46, 110, 119);
	background-image: none;
}

.panel-default>.panel-heading>.panel-title {
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-family: Equinor, Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.panel-default>.panel-heading>.panel-title>a {
	color: rgb(255, 255, 255);
}

/* The "Modelshare" title */
.navbar-brand {
	color: rgb(235, 52, 70);
	font-family: Equinor, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

/* Make all links the Equinor red */
a {
	color: rgb(235, 52, 70);
}

a:active {
	color: rgb(235, 52, 70);
	text-decoration: underline;
}

a:visited {
	color: rgb(235, 52, 70);
	text-decoration: underline;
}

.panel-primary {
	border-color: rgb(200, 200, 200);
}

#accessTable input[type="checkbox"] {
	cursor: pointer;
}

.remove {
	font-size: 16px;
	color: #a94442;
	line-height: inherit;
}
