<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/header :: header"></head>

<body role="document">

	<div th:replace="../fragments/navbar :: navbar(signin, ${topLevel})">...</div>
	
	<div class="container" role="main">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="wizard-container">
					<div class="card wizard-card ct-wizard-orange" id="wizard">
						<div class="wizard-header">
							<h3><b>GRANT</b> ACCESS
								<br/>
								<small>Allow the specified user permanent download access to the model.</small>
							</h3>
						</div>
						<hr/>
						<form class="form-signin" th:action="@{/grantaccess}"
							method="post" accept-charset="UTF-8">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
							<fieldset>
								<label for="filenametext">Model: </label>
								<div class="form-group" id="filenametext" th:text="${asset}"></div>
								<label for="usernametext">To user: </label>
								<div class="form-group" id="usernametext" th:text="${user}"></div>
								<input type="hidden" name="asset" id="filename"
									class="form-control" th:value="${asset}" /> <input
									type="hidden" name="user" id="user" class="form-control"
									th:value="${user}" />
								<button class="btn btn-primary btn-block" type="submit">Submit</button>
							</fieldset>
						</form>
						<div class="wizard-footer">
							<div th:replace="../fragments/alert :: alert(${error},${info})">...</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div th:replace="../fragments/footer :: footer">...</div>

</body>
</html>