<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>BreadCrumb</title>
</head>
<body>
	<div th:fragment="breadcrumb(crumbs,currentFolder)">
		<ul class="breadcrumb" >
  			<li th:each="crumb: ${crumbs}">
  				<a th:href="@{/archive(item=${crumb.relativePath},leaf=${crumb.leaf})}" th:text="${crumb.name}">..</a>
 			</li> 			
			<li th:if="${currentModel ==null}"><a th:href="@{/folder(item=${currentFolder})}" title="Create new folder"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a></li>
			<li th:if="${currentModel ==null}"><a th:href="@{/upload(item=${currentFolder})}" title="Upload new model"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></a></li>
		</ul>
    </div> 
</body>
</html>
