<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>Filemenu</title>
</head>
<body>
	<div th:fragment="filemenu(node)">
		<div class="content-box">
			<div th:fragment="fragment_node" th:remove="tag">
		         <div th:if="${not #lists.isEmpty(node.children)}" >
		    		<div th:each="child : ${node.children}" th:inline="text" th:with="node = ${child}">
				    	<div class="menu-item" >
				    		<div th:class="${activeMenuItem == child.path}? 'active-menu-item menu-item' : 'menu-item'" >
			    				<table style="width: 100%">
			    					<tr>
			    						<td>
				    						<a th:href="@{/showModel(item=${child.path},leaf=${child.leaf})}">
									    		<span th:if="${child.leaf == false}" class="glyphicon glyphicon-folder-open"></span>
									    		<span th:if="${child.leaf == true}" class="glyphicon glyphicon-file"></span>
									    		&nbsp;&nbsp;[[${child.name}]]
									    	</a>
									    </td>
									</tr>
								</table>
					    	</div>
					    	<div th:replace="../fragments/filemenu::fragment_node"></div>
					    </div>
				 	</div>
		 		</div>
		 	</div>
		</div>
	</div>
</body>
</html>
