<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../../css/request.css" th:href="@{/css/request.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../../css/gsdk-base.css" th:href="@{/css/gsdk-base.css}" />
	<title th:text="${title}"></title>
	
	<script src="http://code.jquery.com/jquery-1.10.2.js">
	</script>
	<script>
		$(document).on('change', '.btn-file :file', function() {
		    var input = $(this),
		        numFiles = input.get(0).files ? input.get(0).files.length : 1,
		        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		    input.trigger('fileselect', [label]);
		});
		
		$(document).ready( function() {
		    $('.btn-file :file').on('fileselect', function(event, label) {
		        console.log("Something has happened: " + label);
		        $('.input-group #fileName').val(label);
		        $('.save').removeAttr('disabled');
		    });
		    
		    //confirm download dialog fragment
		    function activateConfirmBtn(e){
		    	$('#confirm-dialog #confirm-ok .btn').prop('disabled', !e.currentTarget.checked);
		    	if(e.currentTarget.checked)
		    		$('#confirm-dialog #confirm-ok').unbind('click', disableDownloadLink);
		    	else
		    		$('#confirm-dialog #confirm-ok').bind('click', disableDownloadLink);
		    }
		    function hideDialog(e){
		    	$('#confirm-dialog').modal('hide');
		    }
		    function disableDownloadLink(e){
		    	//ie fix
		    	e.preventDefault();
		    }
		  	//on show - bind event handlers
		    $('#confirm-dialog').bind('show.bs.modal', function(e) {	    	
		    	$(this).find('#confirm-check').bind('change', activateConfirmBtn);
			    $(this).find('#confirm-ok').attr('href', $(e.relatedTarget).data('href'));
			    $(this).find('#confirm-ok').bind('click', disableDownloadLink);
			    $(this).find('#confirm-ok .btn').bind('click', hideDialog);
			});
		    
		    //on hide - unbind event handlers - reset checkbox and button state.
 		    $('#confirm-dialog').bind('hide.bs.modal', function(e) {
 		    	var confirmCheck = $(this).find('#confirm-check');
 		    	confirmCheck.prop('checked', false);
 		    	confirmCheck.unbind('change', activateConfirmBtn);
 		    	
 		    	var confirmBtn = $(this).find('#confirm-ok .btn'); 		    	
 		    	confirmBtn.prop('disabled', true);
		    	confirmBtn.unbind('click', hideDialog);		    	
			});
		});
	</script>
	
</head>
<body>
</body>
</html>
