<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>Model</title>
</head>
<body>
	<div  th:fragment="model(currentModel)">
		<div th:if="${currentModel}" class="details">
			<div class="text-label">Model owner<p/>
				<span class="info-field" th:text="${currentModel.owner}"></span>
			</div>
			<div class="text-label">Organisation<p/>
				<span class="info-field" th:text="${currentModel.organisation}"></span>
			</div>
			<div class="text-label">Email<p/>
				<span class="info-field" th:text="${currentModel.mail}"></span>
			</div>
			<div class="text-label">last updated<p/>
				<span class="info-field" th:text="${currentModel.lastUpdated}"></span>
			</div>
			<a th:href="@{/download(asset=${currentModel.path})}">
				<span class="btn btn-default save-button">Download model file</span>
			</a>
<!-- 	       	<button th:href="@{/download(asset=${currentModel.path})}" class="btn btn-default save-button" value="Download model file">Download model file</button> -->
		</div>
	</div>
</body>
</html>
