<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>Model</title>
</head>
<body>
	<div th:fragment="model(currentModel)">
		<div th:if="${currentModel}" class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Model information</h3>
			</div>
			<div class="panel-body">
				<label class="form-label" for="owner">Owner</label><span class="form-field" id="owner" th:text="${currentModel.owner}" ></span><p />
				<label class="form-label" for="organisation">Owner organisation</label><span class="form-field" id="organisation" th:text="${currentModel.organisation}" ></span><p />
				<label class="form-label" for="mail">Owner email</label><span class="form-field" id="mail" th:text="${currentModel.mail}" ></span><p />
				<label class="form-label" for="lastUpdated">Last updated</label><span class="form-field" id="lastUpdated" th:text="${currentModel.lastUpdated}" ></span><p />

				<a th:if="${viewOnly}" th:href="@{/request(asset=${currentModel.path})}">
					<button class="btn btn-primary btn-sm">Request access</button>
				</a>
				<a th:if="${!viewOnly}" th:attr="data-href=@{/download(asset=${currentModel.path})}" data-toggle="modal" data-target="#confirm-dialog">
					<button class="btn btn-primary btn-sm">Download this model</button>
				</a>
				<br /><br />
				<label class="form-label" for="usage">Usage</label><span class="form-field" id="usage" th:text="${currentModel.usage}" ></span><p />
				
				<b th:if="${attributes.size()>0}">Task information</b><p />
				<div th:each="child : ${attributes}" class="details">
					<div class="">
						<span class="form-field-bold" th:text="${child.name}"></span><br />
						<span class="form-field" th:text="${child.description}"></span><p />
					</div>
				</div>
			</div>
		</div>
		<div th:if="${!viewOnly}" th:replace="../fragments/confirm :: confirm('Disclaimer header', ${downloadTerms})">...</div>
	</div>
</body>
</html>
