<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>Terms</title>
</head>
<body>
	<div th:fragment="terms">
		<div class="modal fade" id="terms-dialog" tabindex="-1" role="dialog">
  			<div class="modal-dialog">
    			<div class="modal-content">
	    			<div class="modal-header">
	                	Terms of use
	            	</div>
		            <div class="modal-body">
		              <p>Terms .. bind to property</p>	
		            </div>    		
	    			<div class="modal-footer">
	                	<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
	                	<a class="btn-ok">
	                		<button class="btn btn-primary">Download</button>
	                	</a>
	            	</div>
            	</div>
  			</div>
  			 
		</div>
    </div>
</body>
</html>
