<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/header :: header">
</head>
<body>

<div th:replace="../fragments/navbar :: navbar(archive)"></div>

	<div class="container">
		<div class="jumbotron">
			<h2 th:text="${title}">Archive</h2>
			<div class="row">
				<div class="left-container col-sm-3">
					<div class="content-box">
						<div th:fragment="fragment_node" th:remove="tag">
		            		<ul th:if="${not #lists.isEmpty(node.children)}" >
					    		<li th:each="child : ${node.children}" th:inline="text" th:with="node = ${child}">
							    	<a th:href="@{/archive/doShow(path=__${child.path}__)}">
							    		[[${child.name}]]
							    	</a>
							      	<ul th:replace="../templates/archive::fragment_node">List Item</ul>
							 	</li>
					 		</ul>
					 	</div>
					</div>
				</div>
				<div class="right-container col-sm-9">
					<div class="content-box">
						<div th:text="${menuItem.name}"></div>
						<div th:text="${menuItem.path}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="../fragments/footer :: footer">...</div>

</body>
</html>
