<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="../fragments/header :: header"></head>
<body>

	<div th:fragment="modelList(modelNode)" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" th:remove="tag">
		<!-- shows a node with children -->
		<div th:if="${modelNode}" class="panel panel-default">
			<!-- folder header-->			
			<div th:if="${modelNode.leaf == false}" class="panel-heading" role="tab" th:id="'h_'+${modelNode.name}">
				<h4 class="panel-title">
					<a th:href="@{/archive(item=${modelNode.relativePath},leaf=false)}" th:text="${modelNode.name}"></a>
				</h4>
			</div>
			<!-- folder contents -->
			<div th:id="'c_'+${modelNode.name}" class="panel-collapse collapse in" role="tabpanel" th:aria-labelledby="'h_'+${modelNode.name}">
				<div class="panel-body">
					<div th:each="child: ${modelNode.children}">
						<!-- folder -->
						<div th:if="${child.leaf == false}" class="folder child">
							<a th:href="@{/archive(item=${child.relativePath})}"
								th:rel="${child.picturePath == null} ? '': 'popover'"
								th:attr="data-img=@{/pictures(asset=${child.picturePath})}" 
								th:text="${child.name}"></a>
						</div>
						<!-- model -->
						<div th:if="${child.leaf == true}" class="asset child">
							<a th:href="@{/showModel(item=${child.relativePath})}"
								th:rel="${child.picturePath == null} ? '': 'popover'" 
								th:attr="data-img=@{/pictures(asset=${child.picturePath})}"
								th:text="${child.name}"></a>
						</div>
					</div>
				</div>							
			</div>
		</div>
	</div>

	<!-- Flat view of folders -->
	<div class="container-fluid" role="main">
	
		<div th:replace="../fragments/navbar :: navbar(archive, ${topLevel})"></div>

		<div th:replace="../fragments/breadcrumb :: breadcrumb(${crumbs},${currentFolder})">BreadCrumb</div>

		<div th:replace="../fragments/alert :: alert(${error},${info})"></div>
		
		<div class="panel panel-primary" th:if="${node!=null}">
			<div class="panel-body" th:if="${not #lists.isEmpty(node.children)}"
				th:with="maxIndex=${#lists.size(node.children.?[leaf==false])-1}">
				<!-- show child folders of the current folder -->
				<div class="row" th:each="index: ${#numbers.sequence(0, maxIndex, 3)}" th:if="${not #lists.isEmpty(node.children.?[leaf==false])}">
					<div class="col-md-4">
						<div th:replace=":: modelList(${node.children.?[leaf==false].get(index)})">...</div>
					</div>
					<div class="col-md-4" th:if="${index+1 le maxIndex}">
						<div th:replace=":: modelList(${node.children.?[leaf==false].get(index + 1)})">...</div>
					</div>
					<div class="col-md-4" th:if="${index+2 le maxIndex}">
						<div th:replace=":: modelList(${node.children.?[leaf==false].get(index + 2)})">...</div>
					</div>
				</div>					
				<!-- show models in the current folder -->
				<div class="row" th:if="${not #lists.isEmpty(node.children.?[leaf==true])}">				
					<div class="col-md-12">
						<div class="panel panel-default">
							<!-- folder header-->			
							<div class="panel-heading" role="tab">
								<h4 class="panel-title"><span th:text="${node.name}"></span> models</h4>
							</div>
							<div class="panel-body">
								<div th:each="model: ${node.children.?[leaf==true]}">
									<a class="asset" th:href="@{/showModel(item=${model.relativePath})}" th:text="${model.name}"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="../fragments/footer :: footer">...</div>

</body>
</html>
