<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/header :: header">
</head>
<body role="document">
	<div class="container theme-statoil" role="main">
		<div th:replace="../fragments/navbar :: navbar(help)">...</div>
		<div class="page-header">
			<h2>Access denied</h2>
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign"> </span>You do not
				have access to this asset.
			</div>
		</div>
	</div>
	<div th:replace="../fragments/footer :: footer">...</div>
</body>
</html>