<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/header :: header">
</head>
<body role="document">
	<div th:replace="../fragments/navbar :: navbar(help)">...</div>
		<div class="container theme-statoil" role="main">
			<div class="page-header">
			<h2>Error</h2>
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" th:text="${error}"> </span>
			</div>
		</div>
	</div>
	<div th:replace="../fragments/footer :: footer">...</div>
</body>
</html>