<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/header :: header"></head>
<body role="document">

	<div class="container-fluid" role="main">

		<div th:replace="../fragments/navbar :: navbar(help, ${topLevel})">...</div>

		<div th:replace="../fragments/alert :: alert(${error},${info})"></div>

		<div class="panel panel-primary">
			<div class="panel-body">
				<h3>User guide</h3>
				<div th:utext="${helpText}"></div>
			</div>
		</div>
	</div>
	<div th:replace="../fragments/footer :: footer">...</div>

</body>
</html>