<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/header :: header"></head>

<body role="document">

	<div th:replace="../fragments/navbar :: navbar(signin, ${topLevel})">...</div>

	<div class="container" role="main">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="wizard-container">
					<div class="card wizard-card ct-wizard-orange" id="wizard">
						<div class="wizard-header">
							<h3>
								<b>CHANGE</b> PASSWORD <br /> <small>Please type in your old and new password.</small>
							</h3>
						</div>
						<hr />
						<form class="form-signin" th:action="@{/passwd}" method="post" accept-charset="UTF-8">
							<fieldset>
								<label for="old-password" class="sr-only">Old password</label> <input
									type="password" name="old-password" id="old-password"
									class="form-control" placeholder="Old password"
									autofocus="autofocus" /> <label for="new-password"
									class="sr-only">New password</label> <input type="password"
									name="new-password" id="new-password" class="form-control"
									placeholder="New password" required="required" /> <label
									for="confirm-password" class="sr-only">Confirm password</label>
								<input type="password" name="confirm-password"
									id="confirm-password" class="form-control"
									placeholder="Confirm password" required="required" />
								<button class="btn btn-primary btn-block" type="submit">Change</button>
							</fieldset>
						</form>
						<div class="wizard-footer">
							<div th:replace="../fragments/alert :: alert(${error},${info})">...</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div th:replace="../fragments/footer :: footer">...</div>

</body>
</html>
