<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/header :: header"></head>

<body role="document">

	<!-- Navigation bar -->
	<div th:replace="../fragments/navbar :: navbar(signin, ${topLevel})">...</div>

	<div class="container" role="main">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="wizard-container">
					<div class="card wizard-card ct-wizard-orange" id="wizard">
						<div class="wizard-header">
							<h3>
								<b>Request</b> access <br /> <small>Please fill in
									details for requesting access to the model.
								</small>
							</h3>
						</div>
						<hr />
						<form th:action="@{/request}" method="post">
							<input type="text" name="from-email" id="from"
								class="form-control" placeholder="From" th:value="${from}"
								readonly="readonly" /> 
							<input type="text" name="to" id="to"
								class="form-control" placeholder="To" th:value="${to}"
								readonly="readonly" />
							<textarea rows="10" maxlength="1024" name="message" id="message"
								class="form-control" placeholder="Message" required="required"
								autofocus="autofocus"></textarea>
							<input type="text" name="asset" id="asset" class="form-control"
								placeholder="Asset" th:value="${asset}" readonly="readonly" /> <input
								type="hidden" name="mailfrom" id="mailfrom" class="form-control"
								placeholder="Mailfrom" th:value="${mailfrom}"
								readonly="readonly" />
							<button class="btn btn-primary btn-block" type="submit">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div th:replace="../fragments/footer :: footer">...</div>

</body>
</html>
