<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!-- Header -->
<head th:replace="../fragments/header :: header">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" media="all" href="../../css/signin.css" th:href="@{/css/signin.css}" />
</head>

<body role="document">

	<!-- Sign-in form -->
	<div class="container theme-statoil" role="main">

		<!-- Navigation bar -->	
		<div th:replace="../fragments/navbar :: navbar(signin)">...</div>

		<div class="content-container">
		<form class="form-signin" th:action="@{/signin}" method="post">
			<fieldset>                
		       	<h2 class="form-signin-heading">Please sign in</h2>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Invalid user name or password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success" role="alert">
                    You have been signed out.
                </div>
                <div th:if="${message}" class="alert alert-success" role="alert" th:text="${message}"></div>
				<label for="username" class="sr-only">Email address</label>
		        <input type="email" name="username" id="username" class="form-control" placeholder="User name" autofocus="autofocus" required="required"/>
		        <label for="password" class="sr-only">Password</label>
		        <input type="password" name="password" id="password" class="form-control" placeholder="Password"/>
		        <!-- 
		        <div class="checkbox">
		          <label>
		            <input type="checkbox" value="remember-me"/> Remember me
		          </label>
		        </div>
		        -->
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</fieldset>
		</form>
	</div>
    </div>
    <!-- Footer -->
	<div th:replace="../fragments/footer :: footer">...</div>

</body>
</html>
